<%- include('./partials/header'); -%>
   
<div class = container>

    <div class="row" id="firstrow">
      
     <div class="col-sm">
        <!-- Default form login -->
         <form class="text-center border border-light p-5 searchForm" action="/search" method="POST" style="box-shadow: 0 7px 4px #777;">

             <p class="h4 mb-4"> <span style="font-family: 'Fredoka One'; font-size:30px;">Välkomen till hittegods</span> </p>
             
                  <!-- item -->
                  <input  id="defaultLoginFormEmail" class="form-control mb-4" name ="title" placeholder="vad vill du hitta?">
                   
                  <input  id="defaultLoginFormEmail" class="form-control mb-4" name ="location" placeholder="vart tappades den?">
                   
                     
                        <button class="btn btn-info btn-block my-4" type="submit">Hitta </button>

    
   
            </form>

     </div> 
     
       <div class="col-sm">
          
       </div> 
      <div class="col-sm">
        <p style=" font-family:'Lobster'; font-size:45px; color: white; margin-top:115px; "> Hitta alla dina borttappat varor</p>
    </div> 

     
    </div>
    <div class="row">
       
        <div class="col">
            
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12">
            <h1 style=" font-family:'Lobster'; font-size:35px; margin-top: 40px; margin-bottom: 20px; margin-left: 200px; "> Tappat på    </h1>
          </div>
          <div class="col">
        
          </div>
           
          

              

   </div> 

    <div class="row" >
      <div class="col-sm">
        
        <a class="btn " href="#" role="button">
        <img class="train" src="https://images.unsplash.com/photo-1514773020495-78fc42df608a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80">
        <button type="button" class="btn btn-info btn-sm" style="margin-top: 3px; width: 60%;"> <span class="categoryText">Tåget</span></button>    
       </a>

       </div> 

       <div class="col-sm">
        <a class="btn " href="#" role="button">
           <img class="train" src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80">
           <button type="button" class="btn btn-info btn-sm" style="margin-top: 3px; width: 60%;"> <span class="categoryText">Häng</span></button>   
        </a>   
       </div> 
       
       <div class="col-sm">
        <a class="btn " href="#" role="button">
           <img class ="train" src="https://images.unsplash.com/photo-1521727857535-28d2047314ac?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
           <button type="button" class="btn btn-info btn-sm" style="margin-top: 16px; width: 60%;"> <span class="categoryText">Flyg</span></button>   
         </a>  
       </div> 
      
      <div class="col-sm">
        <a class="btn " href="#" role="button">
          <img  class="train" src="https://images.unsplash.com/photo-1527156792417-6f78bd39fcb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
          <button type="button" class="btn btn-info btn-sm" style="margin-top: 12px; width: 70%;"> <span class="categoryText">Buss</span></button>   
          </a>  
      </div>  
    
     
    
</div> 
     
  
  <div class="row">
           
     
       <div class="col-lg-8 col-sm-12 col-xs-12">
           <h1 style=" font-family:'Lobster'; font-size:35px; margin-top: 20px; margin-bottom: 20px; margin-left: 100px; ">  Hittat idag  </h1>
    
      </div>

      <div class="col">
  
       </div>
  </div> 
  <div class="container" style="margin-left: 20px;">
  <div class="row">
    
       <%if(foundItems === undefined || foundItems.length == 0) { %>
                  
           <h3> Inget Hittades </h3>

       <% } %>

    <%foundItems.reverse().forEach(function(item){%>    
    


      <div class="col-lg-3 col-xs-12 col-sm-12 col-md-4  cardStyle">    
       <div class="card " style="width: 16rem; height: 22rem; margin-right: 10px 10px 10px 10px; 	box-shadow: 0 7px 4px #5bc0de;">
         <img class="card-img-top" style =" height: 50%;" src= "<%=item.imagePath %>" alt="Card image cap">
             <div class="card-body" >
                    <h5 class="card-title" style=" font-family: 'Fredoka One'"> <%=item.title %> </h5>
                    <p class="card-text"  style="font-family: 'Balthazar' ;">Plats: <%=item.location %> </p>
                    <p  class="card-text" style="font-family: 'Balthazar' ;"> upphittare: <%=item.contactInfo%> </p>
                    <p  class="card-text" style="font-family: 'Balthazar' ;">Datum: <%=item.dateFound %> </p>
              </div>
       </div>
      </div> 
    <% })%>    
    
  </div>
  </div>
  
  <div class="row">
       
    <div class="col">  
    
    </div>
    <div class="col-2">
        
        <img src="assets/sl.png" class="slLogo">
       
        
 
   </div>
   <div class="col">

    </div>
     
   
  </div> 
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Ankommet</th>
          <th scope="col">Föremål</th>
          <th scope="col">Färdmedel</th>
        </tr>
      </thead>
      <tbody>


    <%scrapedItems.forEach(function(item){%> 
        <tr>
           <td> <%= item.date %> </td>
           <td> <%= item.name %> </td> 
           <td> <%= item.place %> </td>
        </tr>
      
        <%})%>
      </tbody>
    </table>

  </div> 

</div>   


<%- include('./partials/footer'); -%>